# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
//const clientId = "10befa5d3dad443986e37504abe03dd1"
//const redirectedUrl = "http://localhost:5173"
//const apiUrl = "https://accounts.spotify.com/authorize";
